
h1 {
    text-align: center;
    margin: top 100px;
}

.flex-container{
    display: flex;
    flex-flow:row wrap; 
    justify-content:space-around;
    background-color:aliceblue;

}

.flex-container div {
    background-color:var(--color)
    width: 200px;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 25pxdiv;
    vertical-align: middle;
}

